@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
html {
    font-family: 'Raleway', sans-serif;
}
#header-bar {
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0px;
}
body {
    margin: 0px;
    padding: 0px;
}
.navbar-tekst {
    
    font-size: 13px;
}
.navbar-right {
    position: absolute; 
    right: 0px; 
    display:flex; 
    align-items: center;
}
.img-background {
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 285px;
    

}
.main {
    width: 100%;
    height: auto;
}
.Panel {
    display: flex;
    margin: 0px auto;
    position: relative;
    top: 40px;
    max-width: 960px;
    padding-left: 1%;
}
.colour {
    height: 10px;
    width: 301px;
    background: linear-gradient(to right,#e41e0a 0%,#e41e0a 27%,#201c17 27%,#201c17 32%,#f39100 32%,#f39100 57%,#cc0b18 57%,#cc0b18 73%,#0077bd 73%,#0077bd 77%,#18a035 77%,#18a035 100%);
}
.Login-Container{
    
    height: 288px;
    width: 301px;
}
.Login-Panel {
    width: 301px;
    height: 288px;
    background-color: #ebe8e8;
}
.Login-Tekst {
    
    text-align: center;
}
.Tekst-Login {
    
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    top:30px;
}
.Img-login {
    border-radius: 50%;
    
    
}
.Login-Form {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.Login-Type {
    background-color: #ebe8e8;
    border: none;
    border-bottom: 1px #a4a2a2 solid;
    width: 90%;
    margin: 0px auto 0px auto;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    color: black;
}
.Login-Tekst:hover {
    border: none;
}
.Login-Button {
    width: 100%;
    background-color: #21a148;
    color: white;
    Padding: 15px 0px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: unset;
    margin:0px;
}
.Img-Panel-1 {
    height: 288px;
    width: 301px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
